body{
  margin: 0px;
  padding: 0px;
  background-color: black;
}

header{
  height: 7.5em;
  margin: 1em;
  align-content: center;
  background-color: lightgray;
  border-radius: 5%;
}

#Logo{
  margin: auto;
  padding-top: 1em;
  display: flex;
}

#Logo a{
  color: darkgreen;
  text-decoration: none;
  margin: auto;
  display: inline-block;
}
footer{
  text-align: center;
}

footer p{
  margin: 1.5em auto;
  padding: 1.5em;
  text-align: center;
  display: inline-block;
  border: 2px white solid;
  border-radius: 70% 70% 70% 70%;
  color: white;
}